
.App {
  text-align: center;
}

.about-me{
  font-family: monospace;
  width: 50vw;
  font-size: 1.4rem;
  margin:4vh auto;
  font-weight: 600;
}

.nav-list {
  display:flex;
}

.ml-auto {
  display: flex;
  flex-direction: column;
}

.nav-text {
  font-family:monospace;
  font-size: 1.3rem;
}
.cards {
  display: flex;
  font-family:monospace;
  font-size:1.1rem;
  font-weight: 600;
}

h1 {
font-family: monospace;
font-weight: 500;

}
