body {
  background-color: #343a40;
}

.App {
  text-align: center;
}

.nav-list {
  display:flex;
}

.ml-auto {
  display: flex;
  flex-direction: column;
}

.nav-text {
  font-family:monospace;
  font-size: 1.3rem;
}
.cards {
  display: flex;
  font-family:monospace;
  font-size:1.1rem;
  font-weight: 500;
}

h1 {
font-family: monospace;
font-weight: 500;

}
